*{
    text-align: center;
    justify-content: center;
    margin: 0;


}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading {
display: flex;
background-color: beige;
width: 100%;
height: 10vh;
align-items: center;

}



.main_container{
    background-color: coral;
    display: flex;
    box-shadow: 20px 40px 0px 10px rgba(109, 18, 220, 0.1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;

    margin: 2rem;
    padding: 5rem;
    padding-top: 3rem;

}
#heading{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#amount{
    margin: 2rem;
}
select{
    margin: 1rem;
}

button{
    margin-top: 1rem;
}

p{
    margin-top: 1rem;
}
#submit_btn{
    margin-top: 2rem;
   font-size: 20px;
   background-color: black;
   color: white;
}

#currency_rate{
    outline: black solid 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}